@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Rhodium Libre', sans-serif;
    height: 100vw;
    color: #ddd;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.content {
    margin-left: 100px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    max-width: 570px;
    max-height: 370px;
}

.content h1 {
    font-size: 80px;
}

.content p {
    font-size: 20px;
    margin-bottom: 35px;
}

.content h4 {
    font-size: 24px;
}

.search {
    margin-right: 100p;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.nav {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    max-width: 100vw;
    flex-wrap: wrap;
}

.mid-nav {
    padding: 0 0.5rem;
}

.mid-nav ul {
    display: flex;
    gap: 2.5rem;
}

.mid-nav ul a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 136px;
    height: 45px;
    aspect-ratio: 1/1;
}

.line {
    margin-left: 9.5px;
}
