@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rhodium Libre', sans-serif;
    color: #fff;
}

.wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
}

.overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: #00000053;
    z-index: -1;
}

.video-container{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: -2;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.content {
    position: absolute;
    bottom: 18%;
    left: 10%;
    max-width: 570px;
    max-height: 440px;
}

.content h1 {
    font-size: 4rem;
}

.content p {
    font-size: 20px;
    margin-bottom: 35px;
}

.content h4 {
    font-size: 24px;
}

.content h4 a {
    color: inherit;
    text-decoration: none;
}

header{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 0.5rem 0;
}

ul{
    display: flex;
    gap: 3rem;
    list-style: none;
    margin-right: 5rem;

}
ul li a{
    color: #fff;
    text-decoration: none;
    padding: 30px;
}

.line-container{
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.line{
    width: 45%;
    height: 1px;
    background-color: #fff;
}

.content h4::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    background-color: #fff;
    height: 2px;
    transition: 0.5s ease-in-out;

}

.content h4:hover::before{
    width: 18%;
}